// VARIABLES
$linear-green: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
$linear-green-2: linear-gradient(135deg, #2AB6D9 0%, #33D35E 99.58%);
$green-1: #30C88F;
$dark-blue: #2D314D;
$light-gray: #F4F5F7;
$gray-1: #9597A5;
$gray-2: #979797;
$white: #FFFFFF;
$white-2: #FAFAFA;
$black: #000000;
$size: 0.85rem;
$size-1: 1rem;
$size-2: 1.8rem;
$size-3: 2rem;
$size-4: 4rem;
$size-5: 5rem;
$size-6: 6rem;
$size-7: 7rem;
$size-8: 8rem;
$size-9: 9rem;
$size-10: 10rem;
$size-12: 12rem;
$size-14: 14rem;
$size-16: 16rem;
$radius-sm: 0.5rem;
$radius-lg: 5rem;
$full: 100%;
$bold: 700;
$extra-bold: 900;
