@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Public+Sans:wght@400;500;600;700;800;900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans";
  box-sizing: border-box;
  transition: var(--transition);
}

/* NAVBAR */
.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 1px #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav a {
  text-decoration: none;
  color: #9597A5;
}
.nav .logo {
  margin-left: 1rem;
}
@media (min-width: 720px) {
  .nav .logo {
    margin-left: 2rem;
  }
}
@media (min-width: 960px) {
  .nav .logo {
    margin-left: 4rem;
  }
}
@media (min-width: 1300px) {
  .nav .logo {
    margin-left: 9rem;
  }
}
.nav .nav-item {
  display: none;
  list-style-type: none;
  margin: 0 0.1rem;
  font-size: 14px;
}
@media (min-width: 720px) {
  .nav .nav-item {
    display: inline;
    margin: 0 0.3rem;
  }
}
@media (min-width: 960px) {
  .nav .nav-item {
    font-size: 15px;
    margin: 0 0.4rem;
  }
}
@media (min-width: 1300px) {
  .nav .nav-item {
    margin: 0 1rem;
  }
}
.nav .nav-item .nav-link:hover {
  color: #2D314D;
  padding: 1.8rem 0;
  border-bottom: 5px solid #30C88F;
}
.nav .nav-btn {
  display: none;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  padding: 0.85rem 2rem;
  border: none;
  border-radius: 5rem;
  color: #FFFFFF;
  font-weight: 700;
  margin-right: 1rem;
  transition: all 0.5s;
}
.nav .nav-btn:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
@media (min-width: 720px) {
  .nav .nav-btn {
    display: inline;
    margin-right: 2rem;
  }
}
@media (min-width: 960px) {
  .nav .nav-btn {
    margin-right: 4rem;
  }
}
@media (min-width: 1300px) {
  .nav .nav-btn {
    margin-right: 9rem;
  }
}
.nav .open-mobile-menu {
  margin-right: 1rem;
}
@media (min-width: 720px) {
  .nav .open-mobile-menu {
    display: none;
  }
}
.nav .close-mobile-menu {
  display: none;
  margin-right: 1rem;
}

.mobile-menu {
  inset: 0px;
  top: -100%;
  position: absolute;
  z-index: 110;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-top: 5rem;
  background: #FFFFFF;
  border-radius: 0.5rem;
  padding: 0;
  text-align: center;
  transition: all 1s;
}
.mobile-menu .mobile-menu-item {
  padding: 0.5rem 0;
}
.mobile-menu .mobile-menu-item .mobile-menu-link {
  font-size: 18px;
  color: #2D314D;
}
@media (min-width: 460px) {
  .mobile-menu {
    width: 60%;
  }
}
@media (min-width: 720px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-overlay {
  inset: 0;
  top: 100%;
  position: fixed;
  margin-top: 2rem;
  background: #000000;
  opacity: 0.6;
  transition: all 1s;
}
@media (min-width: 720px) {
  .mobile-menu-overlay {
    display: none;
  }
}

.section-one {
  padding: 12rem 0;
  background: #FAFAFA;
  width: 100%;
  text-align: center;
}
@media (min-width: 720px) {
  .section-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.section-one .mobile-hero-logo {
  width: 100%;
}
@media (min-width: 720px) {
  .section-one .mobile-hero-logo {
    display: none;
  }
}
.section-one .mobile-hero-logo .mobile-hero-logo-intro {
  width: 100%;
  position: absolute;
  top: -40px;
  overflow: hidden;
}
.section-one .mobile-hero-logo .mobile-hero-logo-intro img {
  width: 100%;
}
.section-one .mobile-hero-logo .mobile-hero-logo-phones {
  width: 100%;
  position: absolute;
  top: -90px;
}
.section-one .mobile-hero-logo .mobile-hero-logo-phones img {
  width: 100%;
}
.section-one .hero {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 80%;
}
@media (min-width: 720px) {
  .section-one .hero {
    text-align: left;
    padding-left: 4rem;
    width: 65%;
    margin: 0;
  }
}
@media (min-width: 960px) {
  .section-one .hero {
    width: 55%;
    padding-left: 4rem;
  }
}
@media (min-width: 1300px) {
  .section-one .hero {
    width: 50%;
    padding-left: 9rem;
  }
}
.section-one .hero .hero-header {
  font-style: normal;
  font-weight: 100;
  font-size: 45px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}
@media (min-width: 720px) {
  .section-one .hero .hero-header {
    font-size: 56px;
  }
}
.section-one .hero .hero-body {
  margin-top: -1rem;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.section-one .hero .hero-btn {
  margin-top: 1rem;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  padding: 0.85rem 2rem;
  border: none;
  border-radius: 5rem;
  color: #FFFFFF;
  font-weight: 700;
  margin-right: 1rem;
  transition: all 0.5s;
}
.section-one .hero .hero-btn:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
.section-one .hero-logo {
  display: none;
  position: relative;
  z-index: 10;
}
@media (min-width: 720px) {
  .section-one .hero-logo {
    display: block;
  }
}
.section-one .hero-logo .hero-logo-intro {
  width: 110%;
  position: absolute;
  right: 0px;
  top: -400px;
  z-index: -50;
  overflow: hidden;
}
.section-one .hero-logo .hero-logo-phones {
  width: 75%;
  margin-top: 4rem;
  position: absolute;
  right: 0px;
  top: -300px;
  z-index: 1000;
  overflow: hidden;
}

.section-two {
  padding: 14rem 0 1rem 0;
  background: #F4F5F7;
}
.section-two .about {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 5rem;
}
@media (min-width: 720px) {
  .section-two .about {
    padding-left: 2rem;
  }
}
@media (min-width: 960px) {
  .section-two .about {
    text-align: left;
    padding-left: 4rem;
    width: 35%;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .section-two .about {
    padding-left: 9rem;
  }
}
.section-two .about .about-header {
  margin-top: -4rem;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.section-two .about .about-body {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.section-two .features {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin: 4rem auto;
}
@media (min-width: 720px) {
  .section-two .features {
    margin: 4rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .section-two .features {
    gap: 1.8rem;
    text-align: left;
    margin: 4rem 4rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1300px) {
  .section-two .features {
    gap: 2rem;
    margin: 4rem 9rem;
  }
}
.section-two .features .features-grid .features-image {
  width: 20%;
  margin-bottom: 0.85rem;
}
@media (min-width: 960px) {
  .section-two .features .features-grid .features-image {
    width: 25%;
  }
}
.section-two .features .features-grid .features-title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
}
.section-two .features .features-grid .features-body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5;
}

.section-three {
  padding: 10rem 0 1rem 0;
  background: #FAFAFA;
}
.section-three .articles-header {
  text-align: center;
  width: 60%;
  margin: auto;
}
@media (min-width: 720px) {
  .section-three .articles-header {
    padding-left: 2rem;
  }
}
@media (min-width: 960px) {
  .section-three .articles-header {
    text-align: left;
    padding-left: 4rem;
    width: 35%;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .section-three .articles-header {
    padding-left: 9rem;
  }
}
.section-three .articles-header .articles-title {
  margin-top: -4rem;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
  margin-bottom: -1.8rem;
}
.section-three .articles {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin: 4rem auto;
}
@media (min-width: 720px) {
  .section-three .articles {
    margin: 4rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .section-three .articles {
    gap: 1.8rem;
    text-align: left;
    margin: 4rem 4rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1300px) {
  .section-three .articles {
    gap: 2rem;
    margin: 4rem 9rem;
  }
}
.section-three .articles .articles-grid {
  width: 90%;
  margin: auto;
}
@media (min-width: 460px) {
  .section-three .articles .articles-grid {
    width: 80%;
  }
}
@media (min-width: 720px) {
  .section-three .articles .articles-grid {
    width: 100%;
  }
}
.section-three .articles .articles-grid .articles-image {
  width: 100%;
  margin-bottom: -1.2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.section-three .articles .articles-grid .articles-details {
  background: #FFFFFF;
  padding: 1.8rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: left;
}
.section-three .articles .articles-grid .articles-details .articles-author {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}
.section-three .articles .articles-grid .articles-details .articles-title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
}
.section-three .articles .articles-grid .articles-details .articles-title:hover {
  color: #30C88F;
  cursor: pointer;
}
.section-three .articles .articles-grid .articles-details .articles-body {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}

.footer {
  display: grid;
  gap: 2rem;
  text-align: center;
  background: #2D314D;
  color: white;
  width: 100%;
  padding: 1rem 0;
}
@media (min-width: 720px) {
  .footer {
    text-align: left;
    grid-template-columns: 30% 30% 40%;
  }
}
@media (min-width: 960px) {
  .footer {
    gap: 1.8rem;
    text-align: left;
    grid-template-columns: 25% 40% 35%;
  }
}
@media (min-width: 1300px) {
  .footer {
    gap: 2rem;
  }
}
.footer .socials .logo {
  padding-top: 1.8rem;
}
@media (min-width: 720px) {
  .footer .socials .logo {
    margin-left: 2rem;
  }
}
@media (min-width: 960px) {
  .footer .socials .logo {
    margin-left: 4rem;
  }
}
@media (min-width: 1300px) {
  .footer .socials .logo {
    margin-left: 8rem;
  }
}
.footer .socials .social-items {
  margin-left: -2rem;
  padding-top: 1rem;
}
@media (min-width: 720px) {
  .footer .socials .social-items {
    margin-left: -1rem;
  }
}
@media (min-width: 960px) {
  .footer .socials .social-items {
    margin-left: 0.85rem;
  }
}
@media (min-width: 1300px) {
  .footer .socials .social-items {
    margin-left: 5rem;
  }
}
.footer .socials .social-items .social-item {
  display: inline;
  padding: 0 0.4rem;
  list-style-type: none;
}
.footer .socials .social-items .social-item:hover {
  cursor: pointer;
}
.footer .footer-menu {
  text-align: center;
  margin-top: -1.8rem;
}
@media (min-width: 720px) {
  .footer .footer-menu {
    margin-top: 0;
  }
}
@media (min-width: 960px) {
  .footer .footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    gap: 6rem;
  }
}
.footer .footer-menu .footer-menu-list {
  text-align: center;
}
@media (min-width: 960px) {
  .footer .footer-menu .footer-menu-list {
    text-align: left;
  }
}
.footer .footer-menu .footer-menu-list .footer-menu-item {
  padding: -0.85rem 0.4rem;
  list-style-type: none;
}
.footer .footer-menu .footer-menu-list .footer-menu-item a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
}
.footer .footer-menu .footer-menu-list .footer-menu-item a:hover {
  color: #30C88F;
}
@media (min-width: 720px) {
  .footer .footer-menu .footer-menu-list .footer-menu-item a {
    font-size: 12px;
  }
}
@media (min-width: 1300px) {
  .footer .footer-menu .footer-menu-list .footer-menu-item a {
    font-size: 14px;
  }
}
.footer .invite-cta {
  text-align: center;
}
@media (min-width: 720px) {
  .footer .invite-cta {
    padding-top: 1.8rem;
    text-align: right;
    margin-right: 8rem;
  }
}
@media (min-width: 960px) {
  .footer .invite-cta {
    margin-right: 9rem;
  }
}
@media (min-width: 1300px) {
  .footer .invite-cta {
    margin-right: 14rem;
  }
}
.footer .invite-cta .invite-btn {
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  padding: 0.85rem 2rem;
  border: none;
  border-radius: 5rem;
  color: #FFFFFF;
  font-weight: 700;
  transition: all 0.5s;
}
.footer .invite-cta .invite-btn:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
.footer .invite-cta .copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media (min-width: 720px) {
  .footer .invite-cta .copyright {
    font-size: 13px;
  }
}
@media (min-width: 960px) {
  .footer .invite-cta .copyright {
    font-size: 14px;
  }
}
@media (min-width: 1300px) {
  .footer .invite-cta .copyright {
    font-size: 15px;
  }
}/*# sourceMappingURL=index.css.map */